.health-details {
    border: 2px solid #ccc;
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px #ccc;
}

.form-field {
    margin-bottom: 1rem !important;
}